# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------
# Environment
# ----------------------------
.env

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Datasets
# ----------------------------
# Raw datasets are stored outside the repository
dataset/raw/

# Processed dataset generated during preprocessing
dataset/processed/

# ----------------------------
# Trained Models
# ----------------------------
saved_models/
*.pth

# ----------------------------
# Logs
# ----------------------------
logs/
